p {
	text-align: justify;
}
h1, h2, h3 {
	font-weight: bold;
}
code, kbd, pre, samp {
    direction: ltr !important;
}
.container {
	max-width: 700px;
}
hr {
	margin: 5px 0;
}
.nav {
	margin-bottom: 0;
	padding-right: 0;
}
.nav li a {
	padding: 5px 15px;
}
a {
	text-decoration: none !important;
}

/* floating footer */
html, body {
	height: 100%;
}
.footer, .push {
	height: 60px;
}
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

.banner {
	padding: 20px;
	font-size: 50px;
	text-align: center;
	margin: 10px 0 20px;
}

/*
 * .banner a {
	padding: 10px;
}
*/
.banner h1 {
	color: #858585;
	font-size: 30px;
}

.post {
	margin-bottom: 40px;
}
.post h3 {
	margin-bottom: 7px;
}
.info {
	font-style: italic;
	font-size: .9em;
	color: #898989;
	margin-bottom: 15px;
	margin-right: 15px;
}

.post .content div {
	margin-bottom: 10px;
}
.post img, .post iframe {
	box-shadow: 0 0 30px #aaa;
	margin: 30px auto !important;
	border-radius: 5px;
	display: block;
}

.archives {
	margin-right: 0;
	margin-top: 15px;
}

.footer .copyright {
	float: left;
	font-size: .9em;
	margin-top: 4px;
	color: #aaa;
}

/* ===== Mobile Fixes ===== */
@media (max-width: 768px) {

  body {
    font-size: 16px;
    line-height: 1.8;
  }

  .container {
    max-width: 100%;
    padding: 0 15px;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .nav {
    text-align: center;
  }

  .nav li {
    display: block;
    margin: 8px 0;
  }

  .archives {
    margin-top: 25px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    overflow-x: auto;
    font-size: 14px;
  }

  .footer .copyright {
    float: none;
    text-align: center;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    display: block;
  }
}
